# SPDX-License-Identifier: GPL-2.0-only
#
# Industrial I/O subsystem Dummy Driver configuration
#
menu "IIO dummy driver"
	depends on IIO

config IIO_DUMMY_EVGEN
	select IRQ_SIM
	tristate

config IIO_SIMPLE_DUMMY
	tristate "An example driver with no hardware requirements"
	depends on IIO_SW_DEVICE
	help
	  Driver intended mainly as documentation for how to write
	  a driver. May also be useful for testing userspace code
	  without hardware.

if IIO_SIMPLE_DUMMY

config IIO_SIMPLE_DUMMY_EVENTS
	bool "Event generation support"
	select IIO_DUMMY_EVGEN
	help
	  Add some dummy events to the simple dummy driver.

	  The purpose of this is to generate 'fake' event interrupts thus
	  allowing that driver's code to be as close as possible to that
	  a normal driver talking to hardware.

config IIO_SIMPLE_DUMMY_BUFFER
	bool "Buffered capture support"
	select IIO_BUFFER
	select IIO_TRIGGER
	select IIO_KFIFO_BUF
	help
	  Add buffered data capture to the simple dummy driver.

choice
	prompt "Buffer type"
	default IIO_SIMPLE_DUMMY_BUFFER_KFIFO
	depends on IIO_SIMPLE_DUMMY_BUFFER
	help
	  Select the type of the buffer used by the simple dummy driver.
	  Can either be KFIFO or DMA.

config IIO_SIMPLE_DUMMY_BUFFER_KFIFO
	bool "Triggered FIFO"
	select IIO_TRIGGER
	select IIO_KFIFO_BUF
	help
	  Triggered buffer utilizing a software FIFO where a software routine is
	  responsible for transferring data between the converter and the FIFO.

	  No real hardware is used for the dummy driver and the converter is
	  emulated by software.

config IIO_SIMPLE_DUMMY_BUFFER_DMA
	bool "DMA"
	depends on HAS_DMA
	select IIO_BUFFER_DMA
	help
	  DMA buffer where a DMA controller is responsible for transferring data
	  between the data and the buffers memory region.

	  No real hardware is used for the dummy driver and the converter as well as
	  the DMA controller are emulated by software.

endchoice

endif # IIO_SIMPLE_DUMMY

endmenu
